@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  background-color: #f7f7f7;
}

h1 {
  text-align: center;
  color: #009472;
  margin-top: 40px;
}

fieldset {
  background-color: transparent;
  max-width: 300px;
  padding: 16px;
  border: dotted solid;
  border-color: #009472;
  border-width: 1px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 0 auto;
}

label {
  width: 150px;
  text-align: right;
}

input {
  margin: 2px;
}

.sign-off {
  position: fixed;
  width: 100%;
  bottom: 10px;
  font-size: 12px;
  color: #999;
  margin-top: 200px;
  text-align: center;
  font-family: Raleway;
}

h1,
label,
legend {
  font-family: Raleway;
}
/* Tab Part */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
